

.App {
  text-align: center;
  background-color: transparent;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #241c1c;
  height: 60px;
  padding: 15px;
  color: #f7f5f5;
  display: flex;
  align-content: center;
  justify-content: center;
}

.App-title {
  /* font-size: 1.5em; */
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-container {
  padding: 20px;
}

.submit-form {
  display: flex;
  justify-content: center;
}

.submit-form>div {
  padding-left: 10px;
}

.get-weather-button {
  margin-left: 3px;
}

.weather-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

.today-weather-card-container {

}

.weather-card-container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  margin-top: 10px;
}

.today-weather-card {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.today-weather-card>div {
  padding: 10px;
}

.today-weather-temperature-container {
  display: flex;
  justify-content: center;
}

.weather-card {
  width: 150px;
  max-width: 210px;
  height: 110%;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 24px;
  background-color: #c0bbbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.weather-card:hover {
  cursor: pointer;
}

.weather-card>div {
  padding: 5px;
}

