

.App {
  text-align: center;
  background-color: transparent;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  align-self: center;
}

.App-header {
  background-color: #241c1c;
  height: 20px;
  width: 100%;
  padding: 15px;
  color: #f7f5f5;
  display: flex;
  /* align-content: center; */
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  align-self: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* form */
.form-container {
  padding: 10px;
}

.input-message {
  justify-content: center;
}

.submit-form {
  display: flex;
  justify-content: center;
}

.submit-form>div {
  padding-left: 10px;
}

.get-weather-button {
  margin-left: 3px;
}

.weather-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

/* today weather card */
.today-weather-card-container {

}

.today-weather-card {
  padding: 10px;
  display: flex;
  justify-content: center;

  background-color: rgb(63, 142, 216, 0.3);
  border-radius: 5px;
}

.today-weather-card>div {
  padding: 10px;
}

.city {
  font-weight: bold;
  font-size: 1.5em;
}

.date {
  font-weight: bold;
}

.today-weather-temperature-container {
  display: flex;
  justify-content: center;
}

.today-temperature {
  font-weight: bold;
  font-size: 2em;
}

.temperature-toggle {
  font-size: .6em;
  font-weight: bolder;
}

.temperature-toggle-button:hover {
  cursor: pointer;
}

.active {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.weather-high-low {
  font-size: .8em;
}

.today-weather-description {
  font-style: italic;
}

.today-weather-togglebox {
  align-self: center;
}

/* WEATHER CARD */
.weather-card-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-top: 5px;
}

.weather-card {
  width: 80px;
  max-width: 100px;
  height: 110%;
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 24px;

  font-size: .9em;

  background-color: #c0bbbb;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  transition: .5s ease;
}

.weather-card:hover {
  cursor: pointer;
  transition: .5s ease;
  transform: translateY(-10px);
}
.weather-card-day {
  font-weight: bold; 
}

.weather-card-temperature {
  font-weight: bold;
}


.weather-card>div {
  padding: 5px;
}

/* CURRENT FORECAST DISPLAY */
.detailed-forecast-card-info {
  padding: 10px;
  background-color: rgb(63, 142, 216, 0.3);
  border-radius: 5px;
}

/* forecasts display */
.forecasts-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.forecast-display-card {
  margin: 10px;
}

.forecast-time {
  font-weight: bold;
}

.current-forecast-temperature-container {
  display: flex;
  justify-content: center;
}

.forecast-temperature {
  font-weight: bold;
}